*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* utily */

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.text-white{
    color: white;
}

.text-grey{
    color: #747474;
}

.font-size-11{
    font-size: 11px;
}

.font-size-13{
    font-size: 13px;
}

/* sidebar */

.hide-block, .hide-in{
    display: none;
}


.container-sidebar{
    background-color: #000000;
    width: 35px;
    height: calc(100vh - 70px);
}

.row-sidebar{
    height: 100%;
}

.col-sidebar{
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2rem;
}

.sidebar-top{
    flex-direction: column;
    align-items: center;
}

.sidebar-bottom{
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#margin-top-5rem{
    margin-top: 0.1rem;
}

.logo{
    width: 7rem;
}

.logo-s img{
    width: 1.4rem;  
}

.logo-xs img{
    width: 1.2rem;
    margin-top: 0.3rem;
}

.logo-download{
    margin-bottom: 0.7rem;
}

.logo-download img{
    width: 0.7rem;
}

.logo-profile{
    margin-bottom: 0.4rem;
}

.logo-profile img{
    width: 1.1rem;
    background-color:#747474 ;
    border-radius: 100%;
}

/* container header and main */

.container{
    background-color: blue;
    width: calc(100vw - 35px);
    height: calc(100vh - 70px);
}

/* header */

.container-header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    position: fixed;
}

/* mian */

.container-main{
    background-color: brown;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* footer */

.container-footer{
    background-color: blueviolet;
    width: 100vw;
    height: 70px;
}

/* media mobile first */

@media screen and (min-width: 577px){
    /* sidebar */

    .container-sidebar{
        width: 200px;
        height: calc(100vh - 70px);
    }

    .row-sidebar{
        width: 80%;
        margin: 0 auto;
    }

    .col-sidebar{
        align-items: baseline;
    }

    .sidebar-top{
        align-items: baseline;
        margin-top: 0.8rem;
    }

    .sidebar-bottom{
        width: 100%;
        align-items: baseline;
        margin-bottom: 0.2rem;
    }

    #margin-top-5rem{
        margin-top: 0.8rem;
    }

    .logo-xs img{
        vertical-align: bottom;    
    }

    .logo-download{
        margin-bottom: 0.3rem;
    }

    .logo-download img, .logo-profile img{
        vertical-align: middle;
    }
    
    hr{
        width: 100%;
        margin-bottom: 0.4rem;
    }

    h4{
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    
    .bg-fn{
        background-color: #A3A3A3;
        color: #000000;
        padding: 3px 7px;
        margin-right: 0.6rem;
        font-size: 1.5rem;
        font-weight: inherit;
        vertical-align: middle;
    }

    .ulist, .ulist li{
        margin: 1rem 0;
    }

    .hide-block{
        display: block;
    }

    .hide-in{
        display: inline-block;
    }

    .hamb{
        display: none;
    }
    
    /* container header and main */

    .container{
        width: calc(100vw - 200px);
        height: calc(100vh - 70px);
    }
}
