*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

/* utily */

button{
    all: unset;
    cursor: pointer;
}

.text-center{
    text-align: center
}

.font-weight{
    font-weight: 600;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.text-white{
    color: white;
}

.text-grey{
    color: #747474;
}

.font-size-10{
    font-size: 10px;
}

.font-size-11{
    font-size: 11px;
}

.font-size-13{
    font-size: 13px;
}

.align-items{
    align-items: center;
}

/* sidebar */

.hide-block, .hide-in{
    display: none;
}


.container-sidebar{
    background-color: #000000;
    width: 35px;
    height: calc(100vh - 70px);
}

.row-sidebar{
    height: 100%;
}

.col-sidebar{
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    margin-top: 0.2rem;
}

.sidebar-top{
    flex-direction: column;
}

.sidebar-middle{
    margin-top: 0.5rem;
}

.sidebar-middle h4{
    margin-top: 0.7rem;
}

.sidebar-bottom{
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

#margin-top-5rem{
    margin-top: 0.1rem;
}

.logo{
    width: 7rem;
}

.logo-s img{
    width: 1.4rem;  
}

.logo-xs img{
    width: 1.2rem;
    margin-top: 0.3rem;
}

.logo-download{
    margin-bottom: 0.7rem;
}

.logo-download img{
    width: 0.7rem;
}

.logo-profile{
    margin-bottom: 0.4rem;
}

.logo-profile img{
    width: 1.1rem;
    background-color:#747474 ;
    border-radius: 100%;
}

/* container header and main */

.container{
    width: calc(100vw - 35px);
    height: calc(100vh - 70px);
}

/* header */

.container-header{
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 35px);
    height: 70px;
    position: fixed;
    z-index: 1;
}

.row-header{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items:center;
}

.col-header{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 0.2rem;
}

/* mian */

.container-main{
    background-color: #141922;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.row-nav{
    margin-top: 5rem;
    width: 100%;
    margin: 5rem auto 0;
}

.col-nav{
    width: 100%;
}

.nav-main{
    width: 100%;
    justify-content: center;
}

.nav-main ul{
    flex-wrap: wrap;
    justify-content: center;
}

.nav-main ul li{
    font-weight: 600;
    width: calc(100% / 4);
    margin-bottom: 1.8rem;
    text-align: center;
}

.row-main{
    width: 95%;
    margin: 0 auto;
}

.col-top-main h1, .col-mid-main p, .col-bottom-main p{
    margin-bottom: 2rem;
}

.col-mid-main h1, .col-bottom-main h1{
    margin-bottom: 0.5rem;
}

h1{
    font-size: 26px;
}

.text-center h5{
    margin-top: 0.8rem;
}

.container-music{
    flex-wrap: wrap;
}

.box-music{
    width: calc(100% / 2 - 10px);
    height: 100%;
    margin-right: 10px ;
    margin-bottom: 1rem;
}

.box-music img{
    width: 100%;
    height: 100%;
}

.border-radius{
    border-radius: 100%;
}

/* bonus */

.nav-main li a:hover, .ulist li a:hover, .hide-in a:hover, .hide-block span:hover, .logo-download span:hover, .icons i:hover{
    color: white;
}

.col-footer-mid button i:hover{
    font-size: 26px;
}

.col-header span a:hover{
    font-size: 15px;
}

.line{
    border-bottom:1px solid greenyellow ;
    width: 20%;
    margin: 2px auto 0;
}

.photo img{
    width: 100%;
    position: relative;
}

.photo{
    position: relative;
}

.photo .overlay:hover {
    opacity: 1;
}

.overlay{
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    font-size: 50px;
    position: absolute;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

/* footer */

.container-footer{
    background-color: #282828;
    width: 100vw;
    height: 70px;
    position: relative;
    z-index: 2;
}

.row-footer{
    height: 100%;
    justify-content: space-between;
    margin: 0 10px;
}

.col-footer-left{
    width: 25%;
}

.line-height{
    line-height: 8px;
    margin-left: 0.6rem;
}

.col-footer-mid{
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.icons-mid{
    width: 10rem;
    margin-bottom: 0.7rem;
    justify-content: space-between;
}

.col-footer-mid button i{
    font-size: 22px;
}

.slider-container{
    width: 85%;
    justify-content: space-around;
}

.slide-bar{
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.time-played{
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
}

.slide-bar:hover .time-played{
    background-color: greenyellow;
}

.point-bar{
    display: none;
}

.slide-bar:hover .point-bar{
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-35%);
}

.time{
    width: 15%;
}

.text-align-right{
    text-align: right;
}

.col-footer-right{
    width: 25%;
    justify-content: flex-end;
}

.icons-right{
    width: 30%;
    justify-content: space-around;
}

.col-footer-right .slide-bar{
    width: 40%;
}

.col-footer-left img{
    max-height: 1.5rem;
}

.icons{
    margin-left: 1.2rem;
    word-spacing: 0.6rem;
    line-height: 0.9rem;
}


/* media mobile first */

@media screen and (min-width: 576px){
    /* sidebar */

    .container-sidebar{
        width: 200px;
        height: calc(100vh - 70px);
    }

    .row-sidebar{
        width: 80%;
        margin: 0 auto;
    }

    .col-sidebar{
        align-items: baseline;
    }

    .sidebar-top{
        align-items: baseline;
        margin-top: 0.8rem;
    }

    .sidebar-bottom{
        width: 100%;
        align-items: baseline;
        margin-bottom: 0.2rem;
    }

    #margin-top-5rem{
        margin-top: 0.8rem;
    }

    .line-vertical{
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: greenyellow;
    }

    .logo-xs img{
        vertical-align: bottom;    
    }

    .logo-download{
        margin-bottom: 0.3rem;
    }

    .logo-download img, .logo-profile img{
        vertical-align: middle;
    }
    
    hr{
        width: 100%;
        margin-bottom: 0.4rem;
    }

    h4{
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    
    .bg-fn{
        background-color: #A3A3A3;
        color: #000000;
        padding: 3px 7px;
        margin-right: 0.6rem;
        font-size: 1.5rem;
        font-weight: inherit;
        vertical-align: middle;
    }

    .ulist li{
        margin: 1rem 0;
    }

    .ulist{
        overflow: auto;
        height: 38vh;
        margin: 0.2rem 0;
    }

    .hide-block{
        display: block;
    }

    .hide-in{
        display: inline-block;
    }

    .hamb{
        display: none;
    }
    
    /* container header and main */

    .container{
        width: calc(100vw - 200px);
        height: calc(100vh - 70px);
    }

    /* header */
    
    .container-header{
        width: calc(100vw - 200px)
    }

    /* main */

    .nav-main ul li{
        width: calc(100% / 3);
    }

    /* footer */

    .col-footer-left img{
        max-height: 2.2rem;
    }

    .icons{
        margin-left: 1.8rem;
        word-spacing: 0.6rem;
        line-height: 0.9rem;
    }
}

/* solo main */

@media screen and (min-width: 768px){
    /* main */
    .nav-main ul li{
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 992px){
    /* main */
    .nav-main ul li{
        width: calc(100% / 5);
    }

    .box-music{
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (min-width: 1200px){
    /* main */
    .nav-main ul{
        width: 600px;
    }

    .nav-main ul li{
        width: calc(100% / 6);
    }

    .box-music{
        width: calc(100% / 6 - 10px);
    }
}